/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */

html,
body {
  font-family: "Roboto", sans-serif;
}

.appbar {
  margin-top: 0.1rem;
  background-color: #f7d736;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  
}

.logo{
  margin-left: 0.25rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  width: 8%;
  height: 8%;
}

.subtitle{
  margin-left: 0.1rem;
  margin-top: 0.1rem;
  align-content: center;
}


.form-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.form-card-title {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.form-card textarea {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  resize: none;
}

.btn {
  width: 100%;
  margin-top: 1rem;
  padding: 0.6rem;
  font-size: 1.2rem;
  color: solid black;
  background-color: #f7d736;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card {
  width: 300px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
  border-radius: 8px;
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center ;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
}

/* Alinha o título do card para o canto superior esquerdo */
.card-title {
  align-self: flex-start;
  text-align: left;
  width: 100%;
  margin: 0;
  font-size: 1.5rem;
}

/* Ajusta o conteúdo do card: fonte um pouco menor e cor cinza escuro */
.card-content {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
  font-size: 1rem;
  color: #424242;
  text-align: left;
  width: 100%;
  margin: 0;
}

/* Adiciona estilos para as cores dos cards */
.card-color-1 {
  background-color: #9de0f5; /* azul claro */
  font-family: 'Permanent Marker', cursive;
}

.card-color-2 {
  background-color: #fae890; /* amarelo claro */
  font-family: 'Permanent Marker', cursive;
}

.card-color-3 {
  background-color: #ef89ba; /* rosa claro */
  font-family: 'Permanent Marker', cursive;
}

.card-color-4 {
  background-color: #abe9c1; /* verde claro */
  font-family: 'Permanent Marker', cursive;
}

.card-color-5 {
  background-color: #ead3a7; /* tom pastel extra */
  font-family: 'Permanent Marker', cursive;
}

/* Você pode usar o CSS comentado abaixo, se ajudar */
/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
/* .btn {
  position: relative;
  display: block;
  padding: 10px 15px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #f7d736;

  transition: background-color 0.3s;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
} */
